
//..................Intermediate folders...................//

**Build
**Intermediate
**.vs

//.........................................................//


//..................Intermediate files.....................//

*.user
*.generated*
*.obj
*.o

//.........................................................//